
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-goal></app-goal>
<div>
  <h1>My Goals</h1>
  <p>My goal for today is {{ goal }}</p>
</div>

<div>
  <h1>My Goals</h1>
  <ul>
    <li *ngFor='let goal of goals'>
      {{goal.name}}
      {{goal.id}}
    </li>
  </ul>
  <p *ngIf='goals.length > 5'>Your goals are too many</p>
</div> -->




<app-navbar></app-navbar>
 <router-outlet></router-outlet> 